@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Alterando o Box Model */
* {
    
    box-sizing: border-box;
    background-color: aliceblue;
}

/* Declaração de variáveis (sempre no :root) */
:root {
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

/* Valor de referência/base para uso da medida REM */
html { font-size: 16px;}

/* Reset de alguns elementos  */
body, h1, h2, p, figure, .links-menu {
    margin: 0;
    padding: 0;
}

img { max-width: 100%;}

iframe {max-width: 100%;}

body {
    font-family: "Noto Sans", sans-serif;
    color: var(--cor-texto);

    text-transform: uppercase;
    font-weight: 800, ; /* extra bold */
    
}

.titulo {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
}


.titulo a {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: 0.3rem 1rem;
    border-radius: 4px;
}

.topo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


